.pokemon-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 10px;
  max-width: 1200px;
  margin: 1rem auto;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 5px 0;
  box-shadow: 4px 4px 4px #21212120;
  cursor: pointer;
  transition: 0.3s;
}

.pokemon-card:hover {
  transform: scale(1.01);
  box-shadow:0 0 15px 0 #21212170;
}

.pokemon-imagen {
  width: 150px;
  height: 150px;
  margin: 5px 0;
}

.pokemon-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4c4c4c;
  color: #f2f2f2;
  font-weight: 600;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 10px;
  width: 50%;
}