:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --fondo: #17171C; /*#F1F2F3*/

  --fondo-calculadora: #F1F2F3; /*#17171C*/
  --texto: #000000; /*#FFFFFF*/
  --primario: #4B5EFC; /*#4B5EFC*/
  --secundario: #c8c9cf; /*#4E505F*/
  --terciario: #FFFFFF; /*#2E2F38*/

  --box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);

  background-color: var(--fondo);
  color: var(--texto)
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}