:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-color: #17171C;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  background-color: #F1F2F3;
  aspect-ratio: 9/16;
  border-radius: 40px;
  height: 90%;
  min-height: 600px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
  text-align: center;
}